In [1]:
# Load scores from CSV

import pandas as pd

df = pd.read_csv("rag_scores.csv")

df.head(10)

,query,semantic_similarity,rougeL_f1,status
0,What is the Berry Export Summary 2028 and what...,0.8763,0.3206,PASS
1,What are some of the benefits reported from ha...,0.9655,0.6016,PASS
2,What are the unique features of the Coolands f...,0.7942,0.2519,PASS
3,What is the main difference between the Nation...,0.9024,0.2597,PASS
4,How did Gunnar Nelson win the fight against Za...,0.8510,0.3101,PASS
5,What are some of the features of Fabiana Filip...,0.9099,0.2963,PASS
6,How did Dan Foley feel about his portrayal on ...,0.9170,0.4444,PASS
7,What is the reason for the closure of the comm...,0.8298,0.3636,PASS
8,What are the five love and relationship podcas...,0.7104,0.1860,FAIL
9,Which two teams dropped out of the Primal Ques...,0.9701,0.4258,PASS

In [2]:
df.describe()

       semantic_similarity  rougeL_f1
count            75.000000  75.000000
mean              0.852692   0.395061
std               0.088759   0.216511
min               0.591500   0.098600
25%               0.794600   0.251600
50%               0.873200   0.325600
75%               0.918150   0.495100
max               1.000000   1.000000

In [3]:
df['status'].value_counts()

status
PASS    64
FAIL    11
Name: count, dtype: int64